# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database
instance/
*.sqlite
*.db

# Logs
logs/
*.log

# Static Uploads (ignore content)
static/uploads/*
!static/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db

# Project-specific
not need/
